.vscode
.settings

.classpath
.project
.DS_Store
bin/
gen/
/target

## 
/.idea
/out
*.iml

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##
*.jar
*.war
*.zip
*.tar.gz
*.log
